#main-nav {

    background-color:#1B4571;
    transition: all .35s;
    font-family: 'Charmonman', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 1px;
    height: 130px;
    
}
.nav-link {
    color: white !important;
    text-decoration: none;
}
.navbar-brand img {
   max-width:30%;
   border: 1px solid pink
    
}

.navbar-nav {
    margin-right: 50px;
    margin-left: auto;
}