h5 {
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 1.5em;
}
#main-nav {

    background-color:#1B4571;
    transition: all .35s;
    font-family: 'Charmonman', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 1px;
    height: 130px;
    
}
.nav-link {
    color: white !important;
    text-decoration: none;
}
.navbar-brand img {
   max-width:30%;
   min-width: 150px;
   border: 1px solid pink

    
}

.navbar-nav {
    margin-right: 50px;
    margin-left: auto;
}

.jumbotron {
    display:flex;
    height: calc(100vh - 130px);
    color: blueviolet;
    font-family: 'Charmonman', 'Helvetica', 'Arial', 'sans-serif';

}

.info-card {
    display: flex;
    border: 1px solid pink;
    padding: 4rem 10rem 4rem 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#jumbo-card {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1.5%;
}

#jumbo-card img {
    max-width: 45%;
    max-height: 50vh;
    object-fit: contain;
    border-radius: 60%;
}